<footer id="footer" class="footer">
    <div class="copyright">
        <span>©2020 <%= config.author %> | Powered by <a href="https://hexo.io" target="_blank">Hexo</a> & <a href="https://github.com/Siricee/hexo-theme-Chic" target="_blank">Chic</a> | <a href='http://www.beian.miit.gov.cn/'>京ICP备19051094号-1</a> | <a href='http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802030188'>京公网安备 11010802030188号</a></span>
    </div>
</footer>
